$border: solid 1px #E9E9E9;
.NamedUserCollectionsView {
  padding: 10px;
  margin-left: 50px;

  .toolbar-collection-total {
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .entity-table-root {
    .entity-table__count-toolbar {
      margin-inline-start: 10px;
    }
  }

  .stackable-drawers-container {
    z-index: 2;
  }

  .table-container {
    display: flex;
    width: 100%;

    h4 {
      margin: 40px 0px;
      color: #C71784;
    }

    .colrelate{
      width: 25%;
      margin-left: 10px;
      overflow-x: auto;
    }
    
    .col1 {
      width: 50%;
      overflow-x: auto;
      
      .collection-actions {
        display: flex;
        justify-content: space-between;

        .collection-total {
          display: flex;
          align-items: end;
          height: 50px;
          width: 50px;

          @media (min-width: 1300px) { 
            height: 100%;
            width: 100%;
          }
        }
      }

    }
    .col2 {
      width: 48%;
      margin-left: 30px;
      overflow-x: auto;
    }
  }

  .CodeMirror {
    height: 100%;
  }
}

