.collection-title {
    font-weight: bold;
}

.alert-message {
    margin-top: 60px; 
    text-align: center;
}

.alert-cancel-button {
    margin-top: 20px; 
    display: flex; 
    justify-content: space-evenly; 
}

.action-buttons {
    margin-top: 66px;
    display: flex; 
    justify-content: end; 
}