.success-modal {
  
  .input-container {
    margin-bottom: 28px;
  }

  .form-input {
    width: 100%;
    height: 32px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 4px 8px;
  }

  .form-input-error {
    width: 100%;
    height: 32px;
    border: 2px solid #D32F2F;
    border-radius: 5px;
    padding: 4px 8px;
  }

  .form-input-selected {
    width: 100%;
    height: 32px;
    border: 2px solid #EE67B8;
    border-radius: 5px;
    padding: 4px 8px;
  }

  .form-textarea {
    width: 100%;
    height: 80px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 4px 8px;
  }

  .form-textarea-error {
    width: 100%;
    height: 80px;
    border: 2px solid #D32F2F;
    border-radius: 5px;
    padding: 4px 8px;
  }

  .form-textarea-selected {
    width: 100%;
    height: 80px;
    border: 2px solid #EE67B8;
    border-radius: 5px;
    padding: 4px 8px;
  }

  .label-error {
    color: #D32F2F;
  }

  .error-tag {
    font-size: 13px;
    color: #D32F2F;
   }

  .action-buttons {
    margin-top: 66px;
    display: flex; 
    justify-content: end; 
}
}