.relate-info{
    margin-bottom: 8px;
}

.collection-name {
    font-weight: 700;
}

.action-buttons {
    margin-top: 30px;
    display: flex; 
    justify-content: end; 
}

.cancel-button {
    margin-right: 30px;
    color: #C71784;
    border: none;
    background-color: white;
}